<div class="container pt-4">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="card-body">
        <h3 class="text-center">{{title}}</h3>

        <span *ngIf="submitted && formGroup.invalid" class="badge badge-danger">Todos los campos
                    son obligatorios</span>

        <form class="mt-4" [formGroup]="formGroup" (ngSubmit)="saveEvent(formGroup)">

          <div class="form-group">
            <label for="input_title">Titulo</label>
            <input
              [ngStyle]="{'border-color':submitted && !formGroup.get('title').value || formGroup.get('title')?.
              hasError('required') && !formGroup.get('title')?.pristine ? 'red' : 'grey'}"
              type="text" class="form-control" id="input_title" formControlName="title" placeholder="titulo">

            <small class="text-danger"
                   *ngIf="submitted && !formGroup.get('title').value || formGroup.get('title').
                   hasError('required') && !formGroup.get('title').pristine">
              El campo titulo es obligatorio
            </small>
            <div class="badge badge-danger" *ngIf="titleExist">El Trip con este titulo ya existe</div>
          </div>


          <label>Tipo</label>
          <div class="form-group row justify-content-center">
            <div class="col-3">
              <input
                [ngStyle]="{'border-color':submitted && !formGroup.get('typeTrip').value || formGroup.get('typeTrip')?.
              hasError('required') && !formGroup.get('typeTrip')?.pristine ? 'red' : 'grey'}"
                class="form-check-input" type="radio" name="typeTrip" formControlName="typeTrip"
                id="exampleRadios1" value="0">
              <label class="form-check-label" for="exampleRadios1">Eventos de un dia</label>
            </div>
            <div class="col-3">
              <input
                [ngStyle]="{'border-color':submitted && !formGroup.get('typeTrip').value || formGroup.get('typeTrip')?.
              hasError('required') && !formGroup.get('typeTrip')?.pristine ? 'red' : 'grey'}"
                class="form-check-input" type="radio" name="typeTrip" formControlName="typeTrip"
                id="exampleRadios2" value="1">
              <label class="form-check-label" for="exampleRadios2">Eventos de fin de semana</label>
            </div>
            <div class="col-3">
              <input
                [ngStyle]="{'border-color':submitted && !formGroup.get('typeTrip').value || formGroup.get('typeTrip')?.
              hasError('required') && !formGroup.get('typeTrip')?.pristine ? 'red' : 'grey'}"
                class="form-check-input" type="radio" name="typeTrip" formControlName="typeTrip"
                id="exampleRadios3" value="2">
              <label class="form-check-label" for="exampleRadios3">Aventuras mas largas</label>
            </div>

            <small class="text-danger"
                   *ngIf="submitted && !formGroup.get('typeTrip').value || formGroup.get('typeTrip')?.
                   hasError('required') && !formGroup.get('typeTrip')?.pristine">
              El campo tipo es obligatorio
            </small>
          </div>


          <div class="form-group">
            <label for="input_photoTrip">Foto</label>
            <input
              [ngStyle]="{'border-color':submitted && !formGroup.get('photoTrip').value || formGroup.get('photoTrip')?.
              hasError('required') && !formGroup.get('photoTrip')?.pristine ? 'red' : 'grey'}"
              type="text" class="form-control" id="input_photoTrip"
              formControlName="photoTrip" placeholder="foto">

            <small class="text-danger"
                   *ngIf="submitted && !formGroup.get('photoTrip').value || formGroup.get('photoTrip')?.
                   hasError('required') && !formGroup.get('photoTrip')?.pristine">
              El campo foto es obligatorio
            </small>
          </div>


          <label>Status</label>
          <div class="form-group row justify-content-center">
            <div class="col-3">
              <input [ngStyle]="{'border-color':submitted && !formGroup.get('statusTrip').value || formGroup.get('statusTrip')?.
                hasError('required') && !formGroup.get('statusTrip')?.pristine ? 'red' : 'grey'}"
                     class="form-check-input" type="radio" name="statusTrip" formControlName="statusTrip"
                     id="exampleRadios4" value="0">
              <label class="form-check-label" for="exampleRadios4">Visible</label>
            </div>
            <div class="col-3">
              <input [ngStyle]="{'border-color':submitted && !formGroup.get('statusTrip').value || formGroup.get('statusTrip')?.
                hasError('required') && !formGroup.get('statusTrip')?.pristine ? 'red' : 'grey'}"
                     class="form-check-input" type="radio" name="statusTrip" formControlName="statusTrip"
                     id="exampleRadios5" value="1">
              <label class="form-check-label" for="exampleRadios5">Invisible</label>
            </div>
            <div class="col-3">
              <input [ngStyle]="{'border-color':submitted && !formGroup.get('statusTrip').value || formGroup.get('statusTrip')?.
                 hasError('required') && !formGroup.get('statusTrip')?.pristine ? 'red' : 'grey'}"
                     class="form-check-input" type="radio" name="statusTrip" formControlName="statusTrip"
                     id="exampleRadios6" value="2">
              <label class="form-check-label" for="exampleRadios6">No completado</label>
            </div>

            <small class="text-danger" *ngIf="submitted && !formGroup.get('statusTrip').value || formGroup.get('statusTrip')?.
                    hasError('required') && !formGroup.get('statusTrip')?.pristine">
              El campo status es obligatorio
            </small>
          </div>


          <div class="form-group">
            <label for="input_level">Nivel</label>
            <input
              [ngStyle]="{'border-color':submitted && !formGroup.get('level').value || formGroup.get('level')?.
              hasError('required') && !formGroup.get('level')?.pristine ? 'red' : 'grey'}"
              type="number" class="form-control" id="input_level" formControlName="level" placeholder="Nivel">

            <small class="text-danger"
                   *ngIf="submitted && !formGroup.get('level').value || formGroup.get('level')?.
                   hasError('required') && !formGroup.get('level')?.pristine">
              El campo precio es obligatorio
            </small>
          </div>


          <label>Transporte</label>
          <div class="form-group row justify-content-center">
            <div class="col-2">
              <input [ngStyle]="{'border-color':submitted && !formGroup.get('transportType').value || formGroup.get('transportType')?.
                hasError('required') && !formGroup.get('transportType')?.pristine ? 'red' : 'grey'}"
                     class="form-check-input" type="radio" name="transportType" formControlName="transportType"
                     id="exampleRadios7"
                     value="0">
              <label class="form-check-label" for="exampleRadios7">Propio coche</label>
            </div>
            <div class="col-2">
              <input [ngStyle]="{'border-color':submitted && !formGroup.get('transportType').value || formGroup.get('transportType')?.
                hasError('required') && !formGroup.get('transportType')?.pristine ? 'red' : 'grey'}"
                     class="form-check-input" type="radio" name="transportType" formControlName="transportType"
                     id="exampleRadios8"
                     value="1">
              <label class="form-check-label" for="exampleRadios8">Furgoneta</label>
            </div>
            <div class="col-2">
              <input [ngStyle]="{'border-color':submitted && !formGroup.get('transportType').value || formGroup.get('transportType')?.
                 hasError('required') && !formGroup.get('transportType')?.pristine ? 'red' : 'grey'}"
                     class="form-check-input" type="radio" name="transportType" formControlName="transportType"
                     id="exampleRadios9"
                     value="2">
              <label class="form-check-label" for="exampleRadios9">Autobús</label>
            </div>
            <div class="col-2">
              <input [ngStyle]="{'border-color':submitted && !formGroup.get('transportType').value || formGroup.get('transportType')?.
                 hasError('required') && !formGroup.get('transportType')?.pristine ? 'red' : 'grey'}"
                     class="form-check-input" type="radio" name="transportType" formControlName="transportType"
                     id="exampleRadios10"
                     value="3">
              <label class="form-check-label" for="exampleRadios10">Avión</label>
            </div>

            <small class="text-danger" *ngIf="submitted && !formGroup.get('transportType').value || formGroup.get('transportType')?.
                    hasError('required') && !formGroup.get('transportType')?.pristine">
              El campo transporte es obligatorio
            </small>
          </div>


          <div class="form-group">
            <label for="input_price">Precio</label>
            <input
              [ngStyle]="{'border-color':submitted && !formGroup.get('price').value || formGroup.get('price')?.
              hasError('required') && !formGroup.get('price')?.pristine ? 'red' : 'grey'}"
              type="number" class="form-control" id="input_price" formControlName="price" placeholder="precio">

            <small class="text-danger"
                   *ngIf="submitted && !formGroup.get('price').value || formGroup.get('price')?.
                   hasError('required') && !formGroup.get('price')?.pristine">
              El campo precio es obligatorio
            </small>
          </div>

          <div class="form-group">
            <label for="input_general">General</label>
            <textarea
              [ngStyle]="{'border-color':submitted && !formGroup.get('general').value || formGroup.get('general')?.
              hasError('required') && !formGroup.get('general')?.pristine ? 'red' : 'grey'}"
              class="form-control" id="input_general" formControlName="general" placeholder="general"
              rows="6"></textarea>

            <small class="text-danger"
                   *ngIf="submitted && !formGroup.get('general').value || formGroup.get('general')?.
                   hasError('required') && !formGroup.get('general')?.pristine">
              El campo general es obligatorio
            </small>
          </div>


          <div class="form-group">
            <label for="input_recommendation">Recomendacion</label>
            <textarea
              [ngStyle]="{'border-color':submitted && !formGroup.get('recommendation').value || formGroup.get('recommendation')?.
              hasError('required') && !formGroup.get('recommendation')?.pristine ? 'red' : 'grey'}"
              class="form-control" id="input_recommendation"
              formControlName="recommendation" placeholder="recomendacion"
              rows="9"></textarea>
            <small class="text-danger"
                   *ngIf="submitted && !formGroup.get('recommendation').value || formGroup.get('recommendation')?.
                   hasError('required') && !formGroup.get('recommendation')?.pristine">
              El campo recomendacion es obligatorio
            </small>
          </div>


          <div class="form-group">
            <label for="input_safety">Seguridad</label>
            <textarea
              [ngStyle]="{'border-color':submitted && !formGroup.get('safety').value || formGroup.get('safety')?.
              hasError('required') && !formGroup.get('safety')?.pristine ? 'red' : 'grey'}"
              class="form-control" id="input_safety" formControlName="safety" placeholder="seguridad"
              rows="6"></textarea>

            <small class="text-danger"
                   *ngIf="submitted && !formGroup.get('safety').value || formGroup.get('safety')?.
                   hasError('required') && !formGroup.get('safety')?.pristine">
              El campo seguridad es obligatorio
            </small>
          </div>


          <div class="form-group">
            <label for="input_oneWayTrip">Ida (km)</label>
            <input
              [ngStyle]="{'border-color':submitted && !formGroup.get('oneWayTrip').value || formGroup.get('oneWayTrip')?.
              hasError('required') && !formGroup.get('oneWayTrip')?.pristine ? 'red' : 'grey'}"
              type="number" class="form-control" id="input_oneWayTrip" formControlName="oneWayTrip" placeholder="ida">

            <small class="text-danger"
                   *ngIf="submitted && !formGroup.get('oneWayTrip').value || formGroup.get('oneWayTrip')?.
                   hasError('required') && !formGroup.get('oneWayTrip')?.pristine">
              El campo ida es obligatorio
            </small>
          </div>


          <div class="form-group">
            <label for="input_returnTrip">Vuelta (km)</label>
            <input
              [ngStyle]="{'border-color':submitted && !formGroup.get('returnTrip').value || formGroup.get('returnTrip')?.
              hasError('required') && !formGroup.get('returnTrip')?.pristine ? 'red' : 'grey'}"
              type="number" class="form-control" id="input_returnTrip" formControlName="returnTrip"
              placeholder="vuelta">

            <small class="text-danger"
                   *ngIf="submitted && !formGroup.get('returnTrip').value || formGroup.get('returnTrip')?.hasError('required') && !formGroup.get('returnTrip')?.pristine">
              El campo vuelta es obligatorio
            </small>
          </div>

          <div class="mt-3">
            <button type="text" class="btn btn-outline-info btn-round" routerLink="/admin">Volver</button>
            <button type="submit" class="btn btn-outline-info btn-round">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
