<nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/img/angular2-logo.png" width="40"> TFM Taras Podolchak
    </a>
    <div class="collapse navbar-collapse d-flex justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/saveTrip">saveTrip</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
