<app-trip-type (tripTypeSelected)="showAvailableTrips($event)"></app-trip-type>

<ng-container *ngIf="typeOfTripsSelected">
  <app-trip-carousel (tripSelected)="showTripDetail($event)"
                     [typeOfTripsSelected]="typeOfTripsSelected"></app-trip-carousel>
</ng-container>

<ng-container *ngIf="tripSelected">
  <app-trip-detail [tripSelected]="tripSelected"></app-trip-detail>
  <app-activity-cards [tripSelected]="tripSelected"></app-activity-cards>
  <app-user-carousel [tripSelected]="tripSelected"></app-user-carousel>
</ng-container>
