<p>trip-type works!</p>
<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="angular-logo">
        <img src="assets/img/angular2-logo.png" alt="">
      </div>
      <h1 class="title">Encuentra el evento que mas te guste!</h1>
      <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
      <div class="card card-register mx-auto">
        <div class="">
          <h3 class="title">¿Que estas buscando?</h3>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="0"
                   [(ngModel)]="selectedOption">
            <label class="form-check-label" for="exampleRadios1">Eventos de un dia</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="1"
                   [(ngModel)]="selectedOption">
            <label class="form-check-label" for="exampleRadios2">Eventos de fin de semana</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="2"
                   [(ngModel)]="selectedOption">
            <label class="form-check-label" for="exampleRadios3">Aventuras mas largas</label>
          </div>
        </div>
        <button [disabled]="!selectedOption" class="btn btn-danger btn-block btn-round"
                (click)="showCarouselComponent()">Mostrar eventos
        </button>
      </div>
      <h6 class=" category-absolute ml-auto mr-auto">Creado por
        <a href="https://www.linkedin.com/in/taras-podolchak/" target="_blank">
          <img src="assets/img/faces/cara_Taras_Podolchak.png" class="creative-tim-logo"> Taras Podolchak
        </a>
      </h6>
    </div>
  </div>
</div>
